/* Fonts for sait csi theme */
$theme-sait-csi__font-family: 'Roboto', sans-serif;
$theme-sait-csi__font-style: normal;
$theme-sait-csi__font-weight: normal;
$theme-sait-csi__font-size: 16px;
$theme-sait-csi__character-spacing: 0px;
$theme-sait-csi__line-spacing: 21px;