/* Fonts for sait csi theme */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$theme-sait-csi__font-family: 'Roboto', sans-serif;
$theme-sait-csi__font-style: normal;
$theme-sait-csi__font-weight: 300;
$theme-sait-csi__font-size: 16px;
$theme-sait-csi__character-spacing: 0px;
$theme-sait-csi__line-spacing: 21px;