div[class*="col-"] {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

input.form-control {
    height: 38px !important;
}

.sheets-select {
    .sheets-select-disabled {
        background-color: #e6e6e9;
        border-radius: 4px !important;
        border: none !important;
    }
}

.form-control {
    font-size: 14px;
    line-height: 20px;
    background-color: #F9F9F9 !important;
    border: solid 1px #6C757D !important;

    &:focus {
        border: solid 2px #005B61 !important;
        box-shadow: none !important;
        outline: 0 none;
    }

    .form-control-disabled {
        color: #979797 !important;
        background-color: #E6E6E9 !important;
        border: none !important;
    }
}

.input-group-text {
    .input-group-text-disabled {
        background-color: #bcbcbc !important;
    }
}

.mx-datepicker {
    width: 100% !important;
    height: 38px !important;
    border-radius: 4px !important;

    .mx-datepicker-disabled {
        background-color: #F9F9F9 !important;

        input {
            height: 37px !important;
            border: none !important;
        }
    }

    .mx-input {
        height: 38px !important;
        background-color: #F9F9F9 !important;
        border: solid 1px #6C757D !important;
    
        &:focus {
            border: solid 2px #005B61 !important;
            box-shadow: none !important;
            outline: 0 none;
        }
    }

    .mx-input:disabled, .mx-input.disabled {
        color: #999999 !important;
        background-color: #e6e6e6 !important;
        border: none !important;
        box-shadow: none !important;
    }
}

.custom-file-label {
    background-color: #F9F9F9 !important;
    border: solid 1px #6C757D !important;
    border-radius: 4px !important;

    .custom-file-label-disabled {
        border: none !important;

        &:after {
            color: #979797 !important;
            background-color: #BCBCBC !important;
            font-size: 16px !important;
            height: 100% !important;
        }
    }
}

.custom-control-label::before {
    background-color: #BCBCBC !important;
    border-color: #979797 !important;
}

.month-year-display.input.placeholder {
    width: 79.5% !important;
    height: 38px !important;
    background-color: #F9F9F9 !important;
    border: solid 1px #6C757D !important;
    border-radius: 4px !important;
    box-shadow: none !important;

    &:focus {
        border: solid 2px #005B61 !important;
        box-shadow: none !important;
        outline: 0 none;
    }
}

.vs__dropdown-toggle {
    height: 38px;
    background-color: #F9F9F9 !important;
    border: solid 1px #6C757D;

    &:focus {
        border: solid 2px #005B61 !important;
        box-shadow: none !important;
        outline: 0 none;
    }
}

.vs--disabled>.vs__dropdown-toggle {
    color: #999999 !important;
    background-color: #e6e6e6 !important;
    border: none !important;

    span, div.vs__actions i {
        background-color: #e6e6e6 !important;
    }
}

.vs__dropdown-menu {
    background-color: #F9F9F9 !important;
    border: solid 1px #005B61 !important;
}

.input-group>.custom-file .custom-file-input:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.form-control:disabled {
    color: #999999;
    background-color: #e6e6e6 !important;
    border: none !important;
}
