div.sheets-select-image {
    border: solid 1px $primary-light-color;
    background-color: $secondary-dark-color;
    border-radius: $global-border-radius;
    min-height: 34px;

    div.container-options {
        display: flex;
        flex-direction: row;

        div.container-option {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            div.options {
                width: 66px;
                height: 66px;
                margin: 4px;
                text-align: center;
                color: $primary-dark-text-color;
                border: solid 2px;
                border-radius: $global-border-radius;
                border-color: $primary-dark-text-color;

                &:hover {
                    color: $secondary-color;
                    border-color: $secondary-color;
                }

                &.selected {
                    color: $secondary-color;
                    border-color: $secondary-color;
                }

                &.readonly,
                &.readonly:hover,
                &.readonly .option-image,
                &.readonly:hover .option-image {
                    color: $primary-light-color;
                    border-color: $primary-light-color;
                    opacity: 0.5;
                }

                div.wrapper-option {
                    position: relative;

                    div.wrapper-option-btn {
                        height: 66px;
                        width: 66px;
                        position: absolute;
                        top: -2px;
                        left: -2px;
                        z-index: 80;

                        button.option-select {
                            width: 64px;
                            height: 64px;
                            padding: 0px;
                            border-radius: $global-border-radius;
                            border: none;
                            background-color: transparent;
                        }
                    }
                }
            
                div.selected-indicator {
                    height: 0;
                    font-size: 12px;
                    text-align: right;
                    padding: 0 2px;
                    overflow: visible;

                    i.no-indicator {
                        color: transparent;
                    }

                    i.indicator {
                        color: $secondary-color;
                    }
                }

                div.container-option-image {
                    margin-bottom: 4px;
            
                    img.option-image {
                        max-width: 32px;
                        max-height: 38px;
                        border-radius: $global-border-radius;
                    }

                    div.noimage {
                        padding-top: 10px;
                    }
                }
            
                div.container-option-icon {
                    font-size: 14px;
                }

                div.container-option-name {
                    height: 20px;
                    overflow: hidden;
                    font-size: 8px;
                    line-height: normal;

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }

        div.container-option-actions {
            display: flex;
            flex-direction: column;
            padding-top: 2px;

            button.actions {
                width: 30px;
                height: 30px;
                margin: 2px;
                padding: 4px 6px;
                font-size: 12px;
                color: $primary-dark-text-color;
                border: solid 2px $primary-dark-text-color;
                border-radius: $global-border-radius;
                background-color: transparent;
            }

            button.actions:hover {
                color: $secondary-color;
                border: solid 2px $secondary-color;
            }
        
            button.selectedAll {
                color: $secondary-color;
                border: solid 2px $secondary-color;
            }
        }
    }
}
