.sheets-select-image {
    .container-options {
        display: flex;
        flex-direction: row;
    }

    .container-option {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .wrapper-option {
        position: relative;
    }

    .wrapper-option-btn {
        position: absolute;
        z-index: 80;
    }

    .selected-indicator {
        display: relative;
        height: 16px;
        font-size: 12px;
        text-align: right;
        padding: 0 4px;
    }

    .options {
        width: 64px;
        height: 64px;
        margin: 4px;
        text-align: center;
        color: $theme-sait-csi__text-select-icons;
        border: solid 2px;
        border-radius: 8px;
        border-color: $theme-sait-csi__text-select-icons;
    }

    .container-option-icon {
        font-size: 14px;
    }

    .container-option-image {
        margin-bottom: 4px;
    }

    .option-image {
        max-width: 22px;
        max-height: 16px;
        border-radius: 8px;
    }

    .option-only-name {
        font-size: 7px;
        line-height: normal;
        margin-bottom: 0;
    }

    .options:hover {
        color: $theme-sait-csi__selected-option-main-actions;
        border-color: $theme-sait-csi__selected-option-main-actions;
    }

    .readonly,
    .readonly:hover,
    .readonly .option-image,
    .readonly:hover .option-image {
        color: $theme-sait-csi__border-select-options;
        border-color: $theme-sait-csi__border-select-options;
        opacity: 0.5;
    }

    .option-select {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
    }

    .noimage,
    .noicon {
        padding-top: 10px;
    }

    .indicator {
        color: $theme-sait-csi__container-bg;
    }

    .selected {
        color: $theme-sait-csi__selected-option-main-actions;
        border-color: $theme-sait-csi__selected-option-main-actions;
    }

    .container-option-actions {
        display: flex;
        flex-direction: column;
        padding-top: 2px
    }

    .actions {
        width: 30px;
        height: 30px;
        margin: 2px;
        padding: 4px 6px;
        font-size: 12px;
        color: $theme-sait-csi__text-select-icons;
        border: solid 2px $theme-sait-csi__text-select-icons;
        border-radius: 8px;
        background-color: transparent;
    }

    .actions:hover {
        color: $theme-sait-csi__selected-option-main-actions;
        border: solid 2px $theme-sait-csi__selected-option-main-actions;
    }

    .selectedAll {
        color: $theme-sait-csi__selected-option-main-actions;
        border: solid 2px $theme-sait-csi__selected-option-main-actions;
    }
}