$global-border-radius: 8px;

$primary-color: #001D09;
$primary-light-color: #626F63;
$primary-light-text-color: #FFFFFF;
$primary-dark-text-color: #D3D3D3;

$secondary-color: #7EF0A6;
$secondary-light-color: #17935BA7;
$secondary-dark-color: #073621f3;
$secondary-text-color: #000000;
