/* Colors for theme sait csi */
$theme-sait-csi__text-label-icon: #FFFFFF;
$theme-sait-csi__container-bg: #001D09;
$theme-sait-csi__border-main-actions: #17935BA7;
$theme-sait-csi__selected-option-main-actions: #7EF0A6;
$theme-sait-csi__action-icons: #6A6A6A22;
$theme-sait-csi__text-select-icons: #D3D3D3;
$theme-sait-csi__text-main-actions: #000000;
$theme-sait-csi__bg-select-options: #073621A7;
$theme-sait-csi__border-select-options: #626F63;