@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$theme-sait-csi__font-family: 'Roboto', sans-serif;
$theme-sait-csi__font-style: normal;
$theme-sait-csi__font-weight: 300;
$theme-sait-csi__font-size: 16px;
$theme-sait-csi__character-spacing: 0px;
$theme-sait-csi__line-spacing: 21px;

.theme-sait {
    display: flex;
    flex-flow: column;
    height: 100%;

    font-family: $theme-sait-csi__font-family;
    font-style: $theme-sait-csi__font-style;
    font-weight: $theme-sait-csi__font-weight;
    font-size: $theme-sait-csi__font-size;
    letter-spacing: $theme-sait-csi__character-spacing;
    line-height: $theme-sait-csi__line-spacing;

    h3.sheets-form-title {
        color: var(--secondary-color);
        border: none;
    }

    div.sheets-rows {
        padding: 15px;
        background: var(--primary-color);
        border-radius: var(--global-border-radius);
    }

    div.sheets-row {
        border: none;

        label {
            color: var(--primary-light-text-color);
            text-transform: lowercase;
        }

        label:first-letter {
            text-transform: capitalize;
        }
    }

    h3.sheets-row-title {
        color: var(--primary-light-text-color);
    }

    h5.sheets-section-title {
        color: var(--primary-light-text-color);
    }

    div.sheets-field {
        border: none;
    }

    /* vue-select */
    .sheets-select .vs__search::placeholder,
    .sheets-select .vs__dropdown-menu,
    .sheets-select .vs__dropdown-toggle {
        background: var(--secondary-dark-color);
        border: solid 1px var(--primary-light-color);
        color: var(--primary-light-text-color);
        border-radius: var(--global-border-radius);
    }

    .sheets-select .vs__dropdown-menu::-webkit-scrollbar {
        width: 0.5em;
    }

    .sheets-select .vs__dropdown-menu::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px var(--secondary-dark-color);
        border-radius: var(--global-border-radius);
    }

    .sheets-select .vs__dropdown-menu::-webkit-scrollbar-thumb {
        background-color: var(--secondary-color);
        border-radius: var(--global-border-radius);
    }

    .sheets-select .vs__dropdown-toggle {
        border-radius: var(--global-border-radius);
    }

    .sheets-select .vs__search {
        color: var(--primary-light-text-color);
    }

    .sheets-select .vs__clear,
    .sheets-select .vs__open-indicator,
    .sheets-select .vs__deselect {
        font-size: 1em;
        fill: var(--primary-light-text-color);
    }

    .sheets-select .vs__dropdown-option {
        color: var(--primary-light-text-color);
    }

    .sheets-select .vs__dropdown-option--highlight,
    .sheets-select .vs__selected {
        background: var(--secondary-light-color);
        color: var(--primary-light-text-color);
    }

    .sheets-select-error .vs__dropdown-menu,
    .sheets-select-error .vs__dropdown-toggle {
        border: solid 1px red !important;
    }

    a.all-remove-link,
    a.all-add-link {
        color: var(--primary-light-text-color);
    }

    /* vue-select */

    /* vue2-datepicker */
    div.mx-datepicker {
        div.mx-input-wrapper {
            input.mx-input {
                background-color: var(--secondary-dark-color !important);
                border-color: var(--primary-light-color);
                color: var(--primary-light-text-color);
            }

            i.mx-icon-clear,
            i.mx-icon-calendar {
                color: var(--primary-light-text-color);
            }
        }
    }

    /* vue2-datepicker */

    div.sheets-form-scrolling {
        height: 100%;
        overflow-y: auto;
        overflow-x: auto;
        scrollbar-color: var(--secondary-color $primary-light-color);
    }

    div.sheets-form-scrolling::-webkit-scrollbar {
        width: 0.5em;
    }

    div.sheets-form-scrolling::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px var(--secondary-dark-color);
        border-radius: var(--global-border-radius);
    }

    div.sheets-form-scrolling::-webkit-scrollbar-thumb {
        background-color: var(--secondary-color);
        border-radius: var(--global-border-radius);
    }

    button.btn-success {
        color: #000;
        background-color: var(--secondary-color);
        border: solid 1px var(--secondary-light-color);
        border-radius: var(--global-border-radius);
        font-weight: 500;
    }

    button.btn-secondary {
        background: none;
        border: none;
        color: #FFFFFF;
        box-shadow: none;
    }
}
