.form-border {
    border: 0 !important;
    background: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;

    .sheets-form-title, .sheets-row-title, .sheets-section-title {
        padding: 0px 16px;
    }
}
